body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 0;
    background-color: #bfbfbf;
}

.Calander-container{
    background-color: #D3D3D3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 500px;
    text-align: center;
}