body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.calendar-container {
    width: 400px;
    margin: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav span {
    border: none;
    background-color: white;
    color: #D3D3D3;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}

.nav button:hover{
    color:white;
    background-color: skyblue;
}

.calendar-month {
    font-size: 18px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    color: #D3D3D3;
}

.day {
    padding: 5px;
}

.calendar-date {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    text-align: left;
}

.date {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 100%;
}

.date:hover{
    background-color: skyblue;
    color: white;
}

.memo-indicator {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    bottom: 5px;
}

.date:hover .memo-indicator{
    background-color: white;
}

.memo-container {
    width: 300px;
    margin: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: white;
    display: none;
    border-radius: 10px;
}

.memo-title{
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.memo-date{
    margin: 0;
    padding-top: 5px;
}

.memo-close{
    background: none;
    border: none;
}

.memo-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.memo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.memo-input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memo-input{
    border: 0.5px solid #D3D3D3;
    border-radius: 50px;
    width: 250px;
}

.memo-save{
    border-radius: 50px;
    background-color: skyblue;
    color: white;
    cursor: pointer;
    border: none;
    padding: 3px;
}

.saturday {
    color: blue;
}

.sunday {
    color: red;
}

.delete-button{
    border: none;
    background-color: white;
    color: red;
    font-weight: bold;
    cursor: pointer;
}