body {
    font-family: "Noto Sans", "Noto Sans KR", sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
    min-height: 100vh;
    font-size: 0.875rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}

/* 헤더 부분 */
.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 61px;
    border-bottom: 1px solid rgba(0,56,58,0.1);
    background-color: white;
}

.header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 70rem;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
}

.menu-nav {
    display: flex; /* flexbox 사용 */
    align-items: center; /* 수직 정렬 */
    height: 100%;
    flex-grow: 1; /* 가능한 공간을 차지하도록 설정 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    justify-content: center; /* 요소들을 가운데 정렬 */
}


.menu-nav ul{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu-nav ul li{
    display: inline-flex;
    align-items: center;
    margin-left: 1rem;
    flex-shrink: 0;
    position: relative;
    transition: all 0.3s ease 0s;
    font-size: 14px;
}

.menu-nav ul li a{
    color: gray;
}

.menu-nav ul li a:hover{
    color: black;
}

.menu-nav ul li a div{
    position: relative;
    font-size: 14px;
    cursor: pointer;
    padding: 1.25rem 1rem;
    display: flex;
    align-items: center;
    transition: color 0.2s ease-in-out 0s;
    font-weight: 400;
    color: rgb(171, 177, 177);
}

.menu-nav ul li a div:after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    right: 0px;
    height: 2px;
    opacity: 0;
    background: rgb(23, 161, 255);
    transform: scaleX(0);
    transition: all 0.3s ease 0s;
}

.menu-nav ul li a div:hover {
    background-color: rgb(240, 240, 240);
    color: black; 
}

.menu-nav ul li a div:hover:after {
    opacity: 1;
    transform: scaleX(1);
}

/* 오른쪽 헤더 */
.service-nav {
    display: flex; /* flexbox 사용 */
    align-items: center; /* 수직 정렬 */
    height: 100%;
    flex-grow: 1; /* 가능한 공간을 차지하도록 설정 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    justify-content: center; /* 요소들을 가운데 정렬 */
    margin-left: auto;
}

.service-nav ul{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.service-mnav ul li{
    display: inline-flex;
    align-items: center;
    margin-left: 1rem;
    flex-shrink: 0;
    position: relative;
    transition: all 0.3s ease 0s;
    font-size: 14px;
}

.service-nav ul li a{
    color: rgb(23, 161, 255);
}

.service-nav ul li a{
    color: gray;
}

.service-nav ul li a div{
    position: relative;
    font-size: 14px;
    cursor: pointer;
    padding: 1.25rem 1rem;
    display: flex;
    align-items: center;
    transition: color 0.2s ease-in-out 0s;
    font-weight: 400;
    color: rgb(171, 177, 177);
}

.service-nav ul li a div:after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    right: 0px;
    height: 2px;
    opacity: 0;
    background: rgb(23, 161, 255);
    transform: scaleX(0);
    transition: all 0.3s ease 0s;
}

.service-nav ul li a div:hover {
    background-color: rgb(240, 240, 240);
    color: black; 
}

.service-nav ul li a div:hover:after {
    opacity: 1;
    transform: scaleX(1);
}

/* 메인 섹션 */
.main-wrapper{
    margin: 0 auto;
    width: 938px;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 60px;
    width: 100%;
}

.main-banner-box {
    border-radius: 10px;
    box-sizing: border-box;
    height: 400px; /* 동일한 높이 지정 */
    overflow: hidden; /* 넘치는 이미지 숨기기 */
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    position: relative; /* 텍스트를 이미지 위에 겹치게 하기 위해 상대적 위치 지정 */
}

.main-banner-box img {
    max-width: 100%; /* 이미지가 박스 크기에 맞도록 */
    height: auto; /* 비율 유지하여 크기 조정 */
    display: block; /* 이미지의 아래 여백 제거 */
    border-radius: 10px; /* 박스의 테두리와 일치 */
}

.left {
    width: 600px;
}

.right {
    margin-left: 38px;
    width: 300px;
}

.main-banner-box-desc {
    width: 100%;
    z-index: 12;
    position: absolute; /* 이미지 위에 텍스트를 겹치게 하기 위해 절대적 위치 지정 */
    top: 20px;
    left: 20px;
    color: white; /* 텍스트 색상 (필요 시 수정) */
    text-align: left; /* 텍스트 중앙 정렬 */
    padding: 10px; /* 텍스트 주위 여백 */
}

.main-banner-box p {
    margin: 0; /* 문단의 기본 여백 제거 */
    padding: 5px 0; /* 문단 주위 여백 */
}

.main-banner-box-sign-up{
    width: 100%;
    z-index: 12;
    position: absolute; /* 이미지 위에 텍스트를 겹치게 하기 위해 절대적 위치 지정 */
    bottom: 20px;
    left: 20px;
    color: white; /* 텍스트 색상 (필요 시 수정) */
    text-align: left; /* 텍스트 중앙 정렬 */
    padding: 10px; /* 텍스트 주위 여백 */
}

/* 모든 배너 생성 스타일*/
.banner{
    width: 100%;
}

.banner-title{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 24px;
}

.banner-title p{
    padding: 0;
}

.title {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.banner-subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-subtitle a{
    color: #17a1ff;
}

.banner-body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    margin-bottom: 24px;
    padding-left: 0;
}

.banner-body-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-bottom: 24px;
    padding-left: 0;
}

.main-section-body{
    width: 100%;
}

/* 중간 리크루잇 배너 */
.recruit-banner{
    display: flex;
    position: relative;
    margin: 60px 0px 0px;
    padding: 20px 0px 0px;
}

.recruit-banner:before{
    content: "";
    position: absolute;
    top: 0px;
    height: 230px;
    left: -9999px;
    right: -9999px;
    z-index: -1;
    background: rgb(249, 249, 249);
}

.banner-slide{
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    width: 335px;
    height: 221px;
    border-radius: 15px;
}

.recruit-banner-title{
    border: none;
    margin: 0px;
    cursor: pointer;
    padding: calc(66%) 0px 0px;
    width: 100%;
    background: url(https://cdn-upload.miniintern.com/42751/ce8cd879-cd5f-4932-a451-55799b223333/스킬업7.png) 
                0px 0px / cover no-repeat;
}

.recruit-banner-title-swiper{
    position: absolute;
    width: max-content;
    height: max-content;
    margin-left: auto;
    top: 15px;
    right: 20px;
}

.bullet-swiper{
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in 0s;  
    display: inline-block; /* display 속성을 inline-block으로 변경 */
    margin-right: 5px; /* bullet 사이의 간격 추가 */
}

.bullet-swiper-clicked{
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in 0s;  
    display: inline-block; /* display 속성을 inline-block으로 변경 */
    margin-right: 5px; /* bullet 사이의 간격 추가 */
}

.recruit-banner-info-box{
    position: relative;
    width: 100%;
    padding: 66px 0px 30px 30px;
}

.recruit-banner-info-badge{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 8px 22px 9px 30px;
    border-radius: 0px 17px 17px 0px;
    background: rgb(23, 161, 255);
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: rgb(255, 255, 255);
}

.recruit-banner-info-title{
    font-size: 16px;
    color: #939999;
}

.recruit-banner-info-sub{
    margin-top: 4px;
    font-size: 21px;
    color: #1a1b1c;
    font-weight: bold;
}

/* 홍보 박스 모두 공통 */
.box-4 {
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(26, 27, 28, 0.12) 0px 4px 8px 0px;
    transition: all 0.3s ease 0s;
}

.box-4:hover{
    transform: translateY(-10px);
}

.box-4-a-tag{
    text-decoration: none;
}

.box-2{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    box-shadow: rgba(26, 27, 28, 0.12) 0px 4px 8px 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: all 0.3s ease 0s;
}

.box-2:hover{
    transform: translateY(-10px);
}

.box-2-wrapper{
    display: flex;
    padding: 12px;
    width: 100%;
    position: relative;
    align-items: center;
}

.box-2-a-tag{
    text-decoration: none;
}

.box-2-card-image-wrapper{
    width: 120px;
    height: 120px;
    margin-right: 12px;
    position: relative;
    border-radius: 5px;
    flex-shrink: 0;
}

.box-2-span{
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    inset: 0px;
}

.box-2-image{
    border-radius: 5px;
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
}

.box-2-card-text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-2-card-text-wrapper .job{
    margin: 0 0 2px;
    color: rgb(147, 153, 153);
    font-size: 12px;
}

.box-2-card-text-wrapper .job-name{
    font-size: 14px;
    font-weight: bold;
    color: #1a1b1c;
    margin: 0 0 4px;
}

.box-2-card-text-wrapper .job-company{
    margin: 0 0 13px;
    color: #1a1b1c;
    font-weight: bold;
    font-size: 12px;
}
.box-2-card-text-wrapper div{
    display: flex;
}
.job-style{
    border-radius: 5px;
    background-color: rgb(241, 249, 255);
    color: rgb(23, 161, 255);
    padding: 0px 4px;
    margin-right: 4px;
    font-size: 12px;
    display: flex;
}

.box-card-image-wrapper{
    width: 100%;
    position: relative;
    padding-top: 75%;
    overflow: hidden;
    border-radius: 5px;
}

/* .box-card-image-wrapper:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: orange;
    transition: all 0.3s ease 0s;
    z-index: 3;
} */

.box-card-image-tag{
    position: absolute;
    top: 16px;
    right: -50px;
    padding: 5px 10px;
    width: 40px;
    height: 20px;
    background-color: orange;
    transition: all 0.3s ease 0s;
}

.box-4:hover .box-card-image-wrapper:after{
    background-color: orange;
}

.box-4:hover .box-card-image-tag{
    transform: translateX(-50px);
}

.box-card-image-tag span{
    font-weight: bold;
    font-size: 14px;
}

.box-card-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: border 0.2s ease 0s;
}

.box-card-text-wrapper{
    padding: 12px 12px 16px;
}

.box-card-text-status{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.text-status{
    border-radius: 10px;
    background-color: rgb(56, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    color: white;
    padding: 1px 8px;
    font-size: 12px;
    font-weight: bold;
    flex-shrink: 0;
}

.text-sub{
    color: rgb(147, 153, 153);
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box-card-text-name{
    margin-top: 8px;
    font-weight: bold;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    word-break: break-all;
    color: black;
}

.box-card-price{
    padding: 3px 12px;
    font-size: 12px;
    font-weight: bold;
}

.with-out-price{
    background-color: #384040;
    color: white;
}

.has-price{
    background-color: #F0f3f3;
    color: #384040;
}

.status-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orange{
    color: orange;
}

.status-wrapper p{
    margin: 0;
}

.status-quick{
    color: #1bc481;
    font-weight: bold;
}

.status-wrapper span{
    color: #939999;
    
}

.status{
    margin: 0 0 4px;
    color: #939999;
}

.main-status{
    font-size: 14px;
    color: black;
    margin-bottom: 4px;
    font-weight: bold;
}

.place-status{
    color: rgb(147, 153, 153);
    font-size: 12px;
    margin-bottom: 8px;
}

.number-status{
    color: #1bc481;
    margin: 0 0 6px;
}

.happypolio-categories{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.happypolio-categories div{
    background-color: #F0f3f3;
    color: #939999;
    padding: 2px 4px;
}

.happypolio-categories div:nth-child(2){
    margin-left: 8px;
}

.happypolio-card-title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #1a1b1c;
}

.happypolio-card-player-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.happyfolio-card-info-host-image-wrapper{
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 4px;
}

.happypolio-info-host-name{
    color: #939999;
    margin: 0;
}

.hppypolio-price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #1a1b1c;
}

/* 헤드헌팅 설정하기 */
.head-hunting {
    position: relative;
    width: 100%;
    margin: 60px auto;
    height: 120px;
    overflow: hidden;
    border-radius: 5px;
}

.head-hunting-banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
    transition: all 0.3s ease;
}

.head-hunting-banner-image:hover{
    transform: scale(2);
}

.head-hunting-banner-text-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%; 
    text-align: center;  
    z-index: 1; 
    padding: 45px 60px;
}

.head-hunting-description {
    font-size: 21px;
    word-break: keep-all;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.head-hunting-setting{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 146px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    padding: 12px 0px 13px;
}

/* footer 스타일 */
.footer-wrapper{
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 27px 0px 37px;
    border-top: 1px solid rgb(229, 234, 234);
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.upper-footer{
    margin: 0 auto;
    width: 930px;
}

.lower-footer{
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #939999;
}

.footer-wrapper-site-info-menu{
    display: flex;
    justify-content: space-between; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    position: relative;
    z-index: 2;
}

.site-logo-box {
    display: flex;
    justify-content: center; /* 자식 요소를 수평 중앙 정렬 */
    align-items: center; /* 자식 요소를 수직 중앙 정렬 */
}

.site-menu{
    display: flex;
}

.site-menu li + li{
    margin-left: 40px;
}

.site-menu li a{
    display: inline-block;
    color: rgb(26, 27, 28);
    transition: all 0.3s ease 0s;
}

.site-menu li a:hover{
    color: rgb(23, 161, 255);
}

.footer-wrapper-site-info ul{
    padding: 0;
}

.footer-wrapper-site-info li{
    display: flex;
}

.footer-wrapper-site-info li p{
    margin: 0;
}

.service-title{
    color: #1a1b1c;
    font-size: 14px;
    min-width: 82px;
    font-weight: 700;
}

.service-info{
    font-size: 12px;
    line-height: 21px;
    color: rgb(56, 64, 64);
}

.service-info a{
    display: inline-block;
    font-size: 12px;
    line-height: 21px;
    color: rgb(56, 64, 64);
}

.site-link{
    margin-left: 4px;
    font-weight: 700;
}

.site-link:hover{
    color: rgb(23, 161, 255);
}

.footer-wrapper-company-info{
    display: flex;  
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 3;
}

.footer-wrapper-company-info p{
    font-size: 12px;
    margin: 0;
    color: #abb1b1;
}

.footer-wrapper-company-info a{
    color: #abb1b1;
}